.create-a-user-form {
    display: flex;
    flex-direction: column;
    width: 100%; 
    font-weight: 600;
    text-transform:uppercase;
    input {
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 5px;
    }
    button {
        width: 20%;
        margin-top: 1rem;
        background-color: rgb(80, 0, 80);
        border: none;
        padding: 10px;
        color: white;
        font-weight: 500;
    }
}